<div class="keypad">
    <table>
      <tr>
        <td class="key">7</td>
        <td class="key">8</td>
        <td class="key">9</td>
      </tr>
      <tr>
        <td class="key">4</td>
        <td class="key">5</td>
        <td class="key">6</td>
      </tr>
     <tr>
        <td class="key">1</td>
        <td class="key">2</td>
        <td class="key">3</td>
      </tr>
      <tr>
          <td class="key">0</td>
          <td class="key"><img src="img/back.png" title="Backspace"></td>
          <td class="key"><img src="img/cancel.png" title="Cancel"></td>
      </tr>
    </table>

</div>